* {
    margin: 0;
    padding: 0;
     
}

html {
    /* root font size */
    font-size: 100%;

    font-family: 'Roboto Slab', serif;
}



/* header section */
#header {
    height: 100vh; /* at every point in this page the height of this element is 100% of the viewport*/ /* linear-gradient adds a gradient in the direction you choose with the colors you choose*/
    background-image: url("../img/SiyabongaAfrica_cover.jpg"); /* you can stack images on top of each other by seperating with a comma*/
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
	background-size: cover;
    background-position: top; /*background-position anchors the part of the image selected i.e. bottom, top, center so that whenever the viewport changes that point stays the same */
    background-repeat: no-repeat;

    position: center;
    
    width: 100%;
}

    /* Navigation section */
    #navigation {
        background-color: black;
        width: 100%;
        height: 80px;
        z-index: 1;
        position: fixed;
    }

    img.logo {
        width: 70px;
        padding: 5px;
        margin-left: 10px;
    }

    nav.desktop-nav {
        float: right;
        transform: translate(0,100%);
    }

    nav.desktop-nav span a {
        color: white;
        margin-right: 10px;
        text-decoration: none;
    }

    nav.desktop-nav span a:hover {
        text-decoration: underline;
    }

    #myNav {
        display: none;
    }

    /* end Navigation section */

    /* Cover section */
    div#cover {
        width: 100%;
        height: ;
    }

    div.cover-text {
        width: 33%;
        margin: 0 auto;
        transform: translate(0,400%); 

        text-align: center;
        color: antiquewhite;
    }

    div.cover-text h1 {
        font-family: 'Roboto slab';
        font-size: 3rem;
        text-decoration: underline;
    }

    div.cover-text span {
        font-size: 1.25rem;
    }
    /* end cover section */

/* end Header section */

/* About Me section */
#about {
    margin: 10% 0 10% 0;
}

div.about-text h1 {
    text-align: center;
    text-decoration: underline;
}


div.about-text {
    width: 33%;
    margin: 0 auto;
}
/* end About Me section */

/* education secion */
#education {
    margin: 10% 0 10% 0;
}

div.education-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.education-card {
    width: 20%;
    padding: 0.5rem;
    margin: 0.75rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    
    text-align: center;
    color: maroon;
}

a span {
    color: maroon;
    text-decoration: none;
}

div.education-card:hover {
    color: maroon;
    border: 2px solid maroon;
}

img.university-img {
    width: 10rem;
    align-self: center;
}

/* end education */

/* header rule */
hr {
    width: 80%;
    border: 1px maroon solid;
    margin: 0 10% 0 10%;
}

/* footer section */
footer {
    background-color: black;
    width: 100%;
    height: 5rem;
    color: white;
}

div.copyright {
    display: inline-block;
    float: left;
    margin: 2rem 1.25rem 0 1.25rem;
} 

div.social-links {
    display: inline-block;
    float: right;
    margin: 2rem 1.25rem 0 1.25rem;
}

div.social-links a {
    color: white;
    width: 2.5rem;
}
/* end footer section */

/* media queries for responsive design  */

/* ------------------------------------- Tablets ------------------------------------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    /* ---------------------------- header section ------------------------------- */
    /* Navigation */
    nav.desktop-nav {
        display: none;
    }

    #myNav {
        display: initial;
    }
    
    span.mobile-nav-btn {
        font-size:30px;
        color: white;
        cursor:pointer;
        float: right;
        padding: 10px;
        border: solid white;
        border-radius: 100%;

        width: 50px;
        height: 50px;
        text-align: center;
        margin-right: 10px;
    }

    /* The Overlay (background) */
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }
    
    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    
    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }
    
    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        padding: 10px;

        width: 50px;
        height: 50px;
        text-align: center;
        margin-right: 10px;
    }

        
    /* end Navigation */

    /* --------- cover ----------- */
    div.cover-text {
        width: 66%;
        margin: 0 auto;
        transform: translate(0,600%); 

        text-align: center;        
        color: antiquewhite;
    }
    /* ---------------------------- end header section ------------------------------- */

    /* ---------------------------- About section ------------------------------- */
    div.about-text h1 {
        text-align: center;
        text-decoration: underline;
    }
    
    
    div.about-text {
        width: 80%;
        margin: 0 auto;
    }
    /* ---------------------------- end About section ------------------------------- */

    /* ---------------------------- Education section ------------------------------- */
    
    /* ---------------------------- end Education section ------------------------------- */

    /* ---------------------------- Footer section ------------------------------- */
    
    /* ---------------------------- end Footer section ------------------------------- */
}

/* ------------------------------------- Phones ------------------------------------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) 
  and (-webkit-min-device-pixel-ratio: 2) {

    /* ---------------------------- header section ------------------------------- */
    /* The Overlay (background) */
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }
    
    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    
    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }
    
    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }

    /* Navigation */
    nav.desktop-nav {
        display: none;
    }

    #myNav {
        display: initial;
    }

    span.mobile-nav-btn {
        font-size:30px;
        color: white;
        cursor:pointer;
        float: right;
        padding: 10px;
        border: solid white;
        border-radius: 100%;

        width: 50px;
        height: 50px;
        text-align: center;
        margin-right: 10px;
    }

    /* The Overlay (background) */
    .overlay {
        /* Height & width depends on how you want to reveal the overlay (see JS below) */    
        height: 100%;
        width: 0;
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        background-color: rgb(0,0,0); /* Black fallback color */
        background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
        overflow-x: hidden; /* Disable horizontal scroll */
        transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    }

    /* Position the content inside the overlay */
    .overlay-content {
        position: relative;
        top: 25%; /* 25% from the top */
        width: 100%; /* 100% width */
        text-align: center; /* Centered text/links */
        margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    }

    /* The navigation links inside the overlay */
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block; /* Display block instead of inline */
        transition: 0.3s; /* Transition effects on hover (color) */
    }

    /* When you mouse over the navigation links, change their color */
    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }

    /* Position the close button (top right corner) */
    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        color: white;
        padding: 10px;
    }

    /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
    @media screen and (max-height: 450px) {
        .overlay a {font-size: 20px}
        .overlay .closebtn {
            font-size: 40px;
            top: 15px;
            right: 35px;
        }
    }
    /* end Navigation */

    /* -------- cover ---------- */
    div.cover-text {
        width: 66%;
        margin: 0 auto;
        transform: translate(0,200%); 

        text-align: center;
        color: antiquewhite;
    }

    /* ---------------------------- end header section ------------------------------- */

    /* ---------------------------- About section ------------------------------- */
    div.about-text h1 {
        text-align: center;
        text-decoration: underline;
    }
    
    
    div.about-text {
        width: 80%;
        margin: 0 auto;
    }
    /* ---------------------------- end About section ------------------------------- */

    /* ---------------------------- Education section ------------------------------- */
    /* On the flex container */
    .education-cards {
        display: flex;
        align-items: center;
        justify-content: center;
        /* You can set flex-wrap and
        flex-direction individually */
        flex-direction: row;
        flex-wrap: wrap;
        /* Or do it all in one line
        with flex flow */
        flex-flow: row wrap;
        /* tweak where items line
        up on the row
        valid values are: flex-start,
        flex-end, space-between,
        space-around, stretch */
        align-content: flex-end;

    }

    div.education-card {
        width: 50%;
        height: 30%;
    }
    
    div.education-card h2 {
        font-size: 1.25rem;
    }

    div.education-card a {
        font-size: 0.75rem;
    }
    img.university-img {
        display: none;
    }
    /* ---------------------------- end Education section ------------------------------- */

    /* ---------------------------- Footer section ------------------------------- */
    
    /* ---------------------------- end Footer section ------------------------------- */
}