* {
    margin: 0;
    padding: 0;
     
}

html {
    /* root font size */
    font-size: 100%;

    font-family: 'Roboto Slab', serif;
}

#header {
    height: 100vh; /* at every point in this page the height of this element is 95% of the viewport*/ /* linear-gradient adds a gradient in the direction you choose with the colors you choose*/
    background-image: url("../img/SiyabongaAfrica_cover.jpg"); /* you can stack images on top of each other by seperating with a comma*/
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
	background-size: cover;
    background-position: top; /*background-position anchors the part of the image selected i.e. bottom, top, center so that whenever the viewport changes that point stays the same */
    background-repeat: no-repeat;

    position: center;
    
    width: 100%;
}

#navigation {
    background-color: black;
    width: 100%;
    height: 80px;
    z-index: 1;
}

img.logo {
    width: 70px;
    padding: 5px;
    margin-left: 10px;
}

nav {
    float: right;
    transform: translate(0,100%);
}

nav span a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

div.cover {

}

div.cover-text {
    width: 33%;
    margin: 0 auto;
    transform: translate(0,400%); 

    color: antiquewhite;
}

div.cover-text h1 {
    font-family: 'Roboto slab';
    font-size: 3rem;
}

div.cover-text span {
    font-size: 1.25rem;
}

div.about-text {
    width: 33%;
    margin: 0 auto;
}

div.about-text h1 {
    text-align: center;
}

footer {
    background-color: black;
    width: 100%;
    height: 5rem;
    color: white;
}

div.copyright {
    display: inline-block;
    float: left;
    margin: 2rem 1.25rem 0 1.25rem;
} 

div.social-links {
    display: inline-block;
    float: right;
    margin: 2rem 1.25rem 0 1.25rem;
}

div.social-links a {
    color: white;
    width: 2.5rem;
}